<h1>问答助手</h1>

<%= form_for(@question) do |f| %>
<%= error_messages_for @question %>

  <div class="field">
    <%= f.label 'qing xuanze fuzhuang leixing ' %><br />
    <% if current_user && current_user.is_male? %>
	    up: <%= f.select :up_size_id , options_for_select(UpSize::M_TYPES.invert) %> or
	    down: <%= f.select :down_size_id , options_for_select(DownSize::M_TYPES.invert) %> 
	  <% else %>
		  up: <%= f.select :up_size_id , options_for_select(UpSize::W_TYPES.invert) %> or
		  down: <%= f.select :down_size_id , options_for_select(DownSize::W_TYPES.invert) %> 
    <% end %>
  </div>

  <div class="field">
    <%= f.label "名称" %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "名称" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>


<%#= link_to '返回', admin_items_path %>
