<%= form_for([:admin,@reserve]) do |f| %>
<%= error_messages_for @reserve %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
