<h1>预约列表</h1>

<table class="table table-hover table-condensed">
  <tr>
    <th>预约人姓名</th>
    <th>地址</th>
    <th>手机号</th>
    <th>服务时间</th>
    <th>预约类型</th>
    <th>创建时间</th>
  </tr>

<% @reserves.each do |reserve| %>
  <tr>
    <td><%= reserve.name %></td>
    <td><%= reserve.address %></td>
    <td><%= reserve.phone %></td>
    <td><%= reserve.service_time %></td>
    <td><%= reserve.human_type %></td>
    <td><%= reserve.created_at %></td>
    <td><%#= link_to '显示', [:admin,reserve] %></td>
    <td><%= link_to '编辑', edit_admin_reserf_path(reserve) %></td>
    <td><%= link_to '删除', [:admin,reserve], confirm: '确定?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

