<%= form_for([:admin,@type]) do |f| %>
  <%= error_messages_for @type %>

  <div class="field">
    <%= f.label "服装类型" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
