<div class="tongzhi">
  <div class="xxgz">
    <% current_user.watchers.each do |watcher| %>
      <% user = watcher.watchable %>
      <span class="l14"><a href="#"><%= user.fullname %></a> </span>关注了你 <br/>
    <% end %>
  </div>
  <div class="jdsh red18"><%= flash[:notice] %></div>
  <div class="jdsh">

    <!--
    <span class="l14">张学友</span>觉得你提交的<span class="l14">耐克</span>的<span class="l14">XL</span>号裤子也适合他，他收藏了这个号。
    -->
  </div>
</div>
<div class="ygcc_bt">我的预估尺寸是：</div>
<div class="yg_sg"><strong>身高:</strong><span class="l14"><%= current_user.height.value %>cm</span>
  <strong>体重：</strong><span class="l14"><%= current_user.weight.value %> kg</span></div>

<table width="930" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#47777b" class="ygcc_xx">
  <tr>
    <td width="84" height="25" rowspan="2" bgcolor="#F4F9F9">&nbsp;</td>
    <td height="25" colspan="5" align="center" bgcolor="#F4F9F9">上身</td>
    <td height="25" colspan="4" align="center" bgcolor="#F4F9F9">下身</td>
  </tr>
  <tr>
    <td width="90" height="25" align="center" bgcolor="#F4F9F9">胸围</td>
    <td width="106" height="25" align="center" bgcolor="#F4F9F9">中腰围</td>
    <td width="80" height="25" align="center" bgcolor="#F4F9F9">肩宽</td>
    <td width="78" height="25" align="center" bgcolor="#F4F9F9">袖长</td>
    <td width="83" height="25" align="center" bgcolor="#F4F9F9">领围</td>
    <td width="85" align="center" bgcolor="#F4F9F9">腰围</td>
    <td width="86" height="25" align="center" bgcolor="#F4F9F9">臀围</td>
    <td width="79" height="25" align="center" bgcolor="#F4F9F9">横档</td>
    <td width="84" height="25" align="center" bgcolor="#F4F9F9">脚长</td>
  </tr>
  <tr>
    <td height="25" align="center" bgcolor="#F4F9F9">预估尺寸</td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.chest %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.middle_chest %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.shoulder %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.sleeve %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.neck %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.down_chest %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.ass %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.crosspiece %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.foot %></td>
  </tr>
</table>

<div class="rq">
  <h4>我的品牌：</h4>
  <% @user_brands.each do |user_brand| %>
    <div class="wdsc_nr"><span>品牌名：<a href="#"><%= user_brand.brand.name %></a></span>
      <span>货号：<a href="#"><%= user_brand.model.try(:name) %></a> </span>
      <span>尺码为:<a href="#"><%= user_brand.model.try(:name) %> 的 <%= user_brand.type.try(:name) %></a></span>
    </div>
  <% end %>
</div>
<div class="rq">
  <h4>我的收藏：</h4>
  <% @likes.each do |like| %>
    <% user_brand = like.user_brand %>
    <div class="wdsc_nr">
      <span>品牌名：<a href="#"><%= user_brand.brand.name %></a></span>
      <span>货号：<a href="#"><%= user_brand.model.try(:name) %></a> </span>
      <span>尺码为:<a href="#"> <%= user_brand.model.try(:name) %> 的 <%= user_brand.type.try(:name) %> </a></span>
    </div>
  <% end %>
</div>
<p>&nbsp;</p>