<div class="ygcc_bt">维衣尺码助手推测，你的尺寸也许是：</div>
<div class="yg_sg" style="padding-top:35px"><strong>身高:</strong><span class="l14"><%= current_user.height.value %> cm</span> <strong>体重：</strong><span class="l14"><%= current_user.weight.value %> kg</span></div>
<table width="930" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#47777b" class="ygcc_xx">
  <tr>
    <td width="84" height="25" rowspan="2" bgcolor="#F4F9F9">&nbsp;</td>
    <td height="25" colspan="5" align="center" bgcolor="#F4F9F9">上身</td>
    <td height="25" colspan="4" align="center" bgcolor="#F4F9F9">下身</td>
  </tr>
  <tr>
    <td width="90" height="25" align="center" bgcolor="#F4F9F9">胸围</td>
    <td width="106" height="25" align="center" bgcolor="#F4F9F9">中腰围</td>
    <td width="80" height="25" align="center" bgcolor="#F4F9F9">肩宽</td>
    <td width="78" height="25" align="center" bgcolor="#F4F9F9">袖长</td>
    <td width="83" height="25" align="center" bgcolor="#F4F9F9">领围</td>
    <td width="85" align="center" bgcolor="#F4F9F9">腰围</td>
    <td width="86" height="25" align="center" bgcolor="#F4F9F9">臀围</td>
    <td width="79" height="25" align="center" bgcolor="#F4F9F9">横档</td>
    <td width="84" height="25" align="center" bgcolor="#F4F9F9">脚长</td>
  </tr>
  <tr>
    <td height="25" align="center" bgcolor="#F4F9F9">预估尺寸</td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.chest %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.middle_chest %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.shoulder %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.sleeve %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.neck %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.down_chest %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.ass %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.crosspiece %></td>
    <td height="25" align="center" bgcolor="#F4F9F9"><%= @forecast.foot %></td>
  </tr>
</table>
<div class="rq">
  <p class="hdzqcc_bt">
    <% if current_user.tmp_user? %>
      <a href="javascript:;" onClick="alert_win.style.display='block';">建议建立一个账号保存你的身材资料，以便将来查阅：</a>
    <% end %>
  </p>
  <!--弹出层-->
  <form>
    <div id="alert_win" style="display:none">
      <div id="mask" style="top:0;left:0;position: absolute;z-index:1000;" class="bg"></div>
      <DIV class=beian_winBG id=beian_popup>
        <!--弹出框-->

        <div class="gban"><a href="javascript:;" onClick="alert_win.style.display='none';">关闭</a> </div>
        <div class="ycdit">你可以直接使用以下账号登陆</div>
        <div class="ycdit"><a href="#"><img src="/assets/zc_03.png" border="0" /></a><a href="#"><img src="/assets/zc_05.png" border="0" /></a><a href="#"><img src="/assets/zc_07.png" border="0" /></a></div>
        <div class="ycdit"><a href="#"><img src="/assets/zc_12.png" width="86" height="23" border="0" /></a><a href="#"><img src="/assets/zc_14.png" width="62" height="23" border="0" /></a><a href="#"><img src="/assets/zc_16.png" width="75" height="23" border="0" /></a></div>
        <hr />
        <div id="errors"></div>
        <div class="ycdit"><span class="zczh">你也可以注册一个本站账号:</span></div>
        <div class="ycdit"><span class="dl_wz">邮箱：</span><span><label>
              <input type="text" name="user[email]" />
            </label></span>
        </div>
        <div class="ycdit"><span class="dl_wz">密码：</span><span>
            <label>
              <input type="password" name="user[password]" />
            </label></span>
        </div>
        <div class="ycdit"><span class="dl_wz">确认密码：</span><span>
            <label>
              <input type="password" name="user[password_confirmation]" />
            </label></span>
        </div>
        <div class="ycdit"><span class="dl_wz">呢称：</span><span>
            <label>
              <input type="text" name="user[login]" />
            </label></span>
          <span class="btwz"> 第一印象很重要，取个响亮的呢称吧</span></div>
        <div class="ycdit">
          <a href="javascript:;" id="save">
            <img src="/assets/bcsc.gif"  border="0" />
          </a></div>
      </DIV>
    </div>
  </form>
  <p class="yg_sm">说明：<br />
    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;以上均为净尺寸，你买的衣服是成衣尺寸，在净尺寸的基础上加放一定量后得到的。衣服尺寸都要比净尺寸大一些。<br />
    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;预估尺寸是尺码助手根据经验推测出来的尺寸，未必会很准确。当然，基于预估尺寸，你的服装采购也可以比以前更加准确了！你也可以自己量体或者其他方式获得准确尺寸</p>
  <div class="zqcc_ff">
    <div class="zqcc_pic"><a href="/home/how"><img src="/assets/ygcc_03.png" width="213" height="37" border="0" /></a> </div>
  </div>
  <p>基于预估尺寸，你可以查看：</p>
  <div class="zqcc_ff">
    <div class="zqcc_pic"><a href="/home/recommended"><img src="/assets/ygcc_06.png" width="213" height="37" border="0" /></a> </div>
    <div class="zqcc_pic" style="margin-left:20px"><a href="/home/similar"><img src="/assets/ygcc_08.png" width="214" height="37" border="0" /></a> </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#save").click(function(){
      $.ajax({
        url: "/users",
        type: "POST",
        data: $("form").serialize(),
        success: function(data){
          if(data.retCode){
            location.href = "/home/mysize"
          }else{
            $("#errors").html(data.errors);
          }
        }
      })
    })
  })
</script>