<!DOCTYPE html>
<html>
  <head>
    <title>Chima</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="wb:webmaster" content="84ca09d3aef1dc81" />
    <!-- <meta property="wb:webmaster" content="62f79f35977518ca" /> -->
     <!-- open.weibo.com -->
     <meta property="qc:admins" content="6171376777611751116375" />
    <!-- <meta property="qc:admins" content="5660313457611751116375" /> -->
     <!-- open.qq.com -->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%#= flash[:notice]%>
    <%= yield %>


  </body>
</html>
